.box{
	width: 1080px;
	margin:0 auto;
	margin-bottom: 5px;
}

.top_box{
	margin-bottom: 5px;
	width: 1080px;
	height: 120px;
}

.sign img, .sign{
	width: 200px;
	height: 120px;
	float: left;
	margin-bottom: 5px;
}

.webName img{
	width: 280px;
	height: 120px;
	float: left;
	margin-bottom: 5px;
}

.background1{
	background-image: url(../pic/天空.png);
	width: 600px;
	height: 120px;
	float: left;
	margin-bottom: 5px;
}

.search{
	float: right;
	margin-top: 15px;
	margin-right: 10px;
}

.searchButton{
	float: right;
	margin-right: 10px; 
	margin-top: 15px;
}

.clock{
	margin-left: 400px;
	margin-right: 0px;
	margin-top: 50px;
	float: right;
	width: 200px;
	height: 30px;
	font-family: "arial";
}

.gate{
  margin-left: 300px;
}

#list>li{
	width: 80px;
	height: 20px;
	float: left;
	text-align: center;
	line-height: 20px;
	font-family: "微软雅黑";
	font-weight: bold;
}

.two_list{
	width: 80px;
	height: 80px;
	background: #ff3eff;
	display: none;
	padding: 0;
	line-height: 26px;
	font-family: "微软雅黑";
}


ul li{
	list-style-type: none;
}

a{
	cursor: pointer;
	text-decoration: none;
}

a:visited{
	text-decoration: none;
	color: blue;
}

a:hover{
	color: blue;
}

.game{
	width: 1080px;
	height: 3300px;
/*	background-color: #989191;*/
/*	background: rgba(200, 54, 54, 0.5);  透明色效果*/ 
	margin-top: 5px;
	border: 3px solid #9F3838;
}

.fuel_top{
	width: 1000px;
	height: 400px;
	margin-bottom: 5px;
}

.fuel_page, .fuel_page img{
	float: left;
	width: 450px;
	margin-top: 10px;
	margin-left: 10px;
}

.fuel_content{
	width: 500px;
	height: 50px;
	float: right;
	margin-top: 15px;
	margin-right: 5px;
	font-family: "微软雅黑";
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
}

.pic{
	width: 800px;
	height: auto;
	margin: 0 auto;
}

.fuel_pic{
	width: 80%;
	margin: auto;
	position: relative;
}

.fuel_pic h2{
	margin: 0 auto;
	width: 200px;
	color: black;
	font-family: "微软雅黑";
	margin-bottom: 5px;
	font-weight: bold;
}

.fuel_pic img{
	width: 100%;
	position: absolute;
}

.input{
border: 1px solid lightgray;
width: 80px;
height: 27px;
background: red;
border-radius: 5px;
font-size: 20px;
margin-bottom: 20px;
position: absolute;
margin-top: 420px;
margin-left: 360px;
}

.input input{
	width: 35px;
}

.fuel_video{
	width: 900px;
	height: 400px;
	position: absolute;
	margin-top: 500px;
	margin-left: 20px;
}

.fuel_video_content{
	width: 400px;
	height: 400px;
	position: absolute;
	margin-top: 500px;
	margin-left: 550px;
	font-family: "微软雅黑";
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
}

.rectangle{
	width: 1080px;
	height: 20px;
	background-color: #9F3838;
	margin-top: 950px;
}

.codol p{
	text-indent: 2em;
	width: 90%;
	margin: 0 auto;
	line-height: 28px;
	font-family: "微软雅黑";
	font-weight: bold;
	font-size: 18px;
}

.codol_video{
	margin-left: 15px;
	width: 1080px;
	height: 415px;
    margin-top: 10px;
}

.connection{
	width: 100%;
	height: 185px;
	clear: both;
	background-color: #EAE6E6;
}

.bottom_box{
	width: 1080px;
	height: 180px;
	margin: 0 auto;
}

.link{
	background-color: #cf9;
	width: 535px;
	height: 180px;
	float: left;
}

.link span, .link_2 span{
	margin-left: 20px;
}

.link_2{
	background-color: #feb;
	width: 535px;
	height: 180px;
	float: right;
}

.fixed_box{
	width: 100px;
	height: 200px;
	position: fixed;
	left: 5px;
	top: 200px;
	background-color: #f0bbff;
}

.name{
	width: 50px;
	height: 36px;
	margin: 10px auto;
	font-family: "微软雅黑";
}